.ContactMethods{
    background-color: rgb(236, 250, 255);
    height: 100px;
    position: relative;
    margin-top: 40px;
    left:50%;
    transform:translateX(-50%);
    border: 4px black solid;
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.TextContent{
    transition: font-size 1s ease;
    position: relative;  
    text-align: center;
    vertical-align: middle;
}
@media Screen and (min-width:1200px) {
    .TextContent{
        font-size: 30px;
    }
    .ContactMethods{
        width: 55%;
    }
}
@media Screen and (max-width:1200px) {
    .TextContent{
        font-size: 25px;
    }
    .ContactMethods{
        width: 68%;
    }
}
@media Screen and (max-width:800px) {
    .TextContent{
        font-size: 20px;
    }
    .ContactMethods{
        width: 80%;
    }
}
@media Screen and (max-width:600px) {
    .TextContent{
        font-size: 15px;
    }
    .ContactMethods{
        width: 90%;
    }
}