.ContactMethods{
    background-color: rgb(236, 250, 255);
    width: 30%;
    height: 100px;
    position: relative;
    margin-top: 40px;
    left:50%;
    transform:translateX(-50%);
    border: 4px black solid;
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.TextContent{
    font-size: x-large;
    position: relative;  
    text-align: center;
    vertical-align: middle;
}
